<% if flash[:errors] %>
  <%= flash.now[:errors] %>
<% end %>

<form class ='editbandform' action="<%= band_url(@band) %>" method="post" style="text-align: center">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <h1 style='font-size: 40px; text-decoration: underline'>New Band</h1>

  <label for="name">Enter band name:</label>
  <input id='name' type="text" name="band[name]" value="Band Name">

  <br><br>
  <input type="submit" >
</form>
